@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Orelega+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
.whole-container{
    width: 1140px;
    /* border: 2px solid; */
    margin: 2px auto;
    background-color: rgba(224, 192, 192, 0.383);
}
.hero-container{
    position: relative;
    /* border: 2px solid; */
    width: 1140px;
    margin: 4px auto;
    font-family: 'Comfortaa', cursive;
    height: 98vh;
   /* background-color: rgba(224, 192, 192, 0.267); */
}
.pink{
    width: 400px;
    height: 100%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    border-radius: 6px 0px 0px 95px;
    background-image: linear-gradient(to bottom, rgb(254,4,60), rgba(233, 7, 75, 0.993))
}
.nav-container{
    display: flex;
    justify-content: space-between;
    height: 46px;
    padding: 0px 24px;
    align-items: center;
    letter-spacing: 2px;
}
.nav{
    display: flex;
    width: 600px;
    justify-content: space-between;
    align-items: center;
  
}
.nav .logo{
    font-family: 'Orelega One', cursive;
    font-size: 3rem;
    color: rgb(233, 35, 68);
}
.btns{
    padding: .5rem;
    background: rgb(233, 35, 68);
    border: none;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    letter-spacing: 2px;
}
.cart{
    background: transparent;
    color: white;
    margin-right: 10px;
    cursor: pointer;
    letter-spacing: 2px;
    font-size: 2rem;
    border: none;
}
.break{
    width: 100px;
}
.contact{
    font-size: 1.3rem;
    color: white;
    z-index: 1;
    cursor: pointer;
}
.infsec{
    display: flex;
    z-index: 1;
    width: 1074px;
    align-items: center;
    height: 500px;
}
.text{
    height: 256px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 17px;
    width: 426px;
}
h1{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(9, 58, 219);
    border-radius: 6px;
    margin-bottom: -2rem;
}
.enjoy{
    color:rgb(224, 14, 60) ;
}
.location{
    width: 132px;
    display: flex;
    justify-content: space-around;
    padding: .4rem;
    color: white;
    background-color:rgb(224, 14, 60) ;
}
.images{
    z-index: 1;
    width: 673px;
    animation: rotationImage 12s linear infinite ;
    animation-delay: 2s;
}

.images img{
    margin-left: -71px;
    width: 100%;
} 
.item-cntainer{
    text-align: center;
}
.section-centre{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit,21.5rem);
    justify-content: center;
    grid-gap: .5rem;
}
.items{
    overflow: hidden;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
}
.items .image img{
    width: 22rem;
    height: 18rem;
}
.info{
    display: flex;
    justify-content: space-between;
    padding: 0px 11px;
    align-items: center;
    z-index: 2;
}
.title{
    font-size: 2rem;
}
.desc{
    padding: 8px 10px;
}
.dot{
    width: 500px;
    height: 400px;
    z-index: -1;
    margin-left: 115px;
    position: absolute;
    top: 26%;
    opacity: .8;
}
.dot img{
    width: 100%;
    height: 100%;
}

 @keyframes rotationImage {
    100% {
        transform: rotate(360deg);
    }
  }
.cartIcon{
    position: relative;
    left: 76%;
    text-align: center;
    padding: .4rem;
    font-size: 3rem;
    cursor: pointer;
    bottom: 96%;
    width: 65px;
    height: 47px;
    color: white;
}
#table{
    width: 100%;
}
.cartShowCase{
    animation: cart;
    animation-duration: .5s;
    padding: .4rem;
    width: 280px;
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    display: none;
    left: 68%;
    bottom: 78%;
    border-radius: 16px;
    color: white;
    z-index: 1;
    box-shadow: 2px 2px 5px 2px rgb(255, 253, 253);
    background: rgba(4, 68, 63, 0.869);
}
.quantity{
    display: inline;
    width: 32px;
    border-radius: 6px;
    background: transparent;
    border: 2px solid rosybrown;
}
.cut{
    padding: .5rem;
    cursor: pointer;
}
.yourCart{
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.cartEmpty{
    left: 79%;
    bottom: 87%;
    position: absolute;
    width: 179px;
    display: none;
    color: rgb(245, 245, 245);
    font-size: 1.3rem
}
.clearAll{
    cursor: pointer;
    height: 27px;
    padding: 0.3rem;
    border-radius: 8px;
    color: rgba(4, 68, 63, 0.869);
    background-color: white
}
/* cart div animation */
@keyframes cart {
    from {
        height: 0px;
    }
    to { 
        height: 50px ;
    }
}